version: '3.8'
services:
  database:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=nagmani
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis 
    container_name: redis 
    restart: always
    ports:
      - '6379:6379'
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 1s
      timeout: 10s
      retries: 10 

  backend:
    build:
      context: ../ 
      dockerfile: docker/backend/Dockerfile
    container_name: backend
<<<<<<< HEAD
    environment:
      DATABASE_URL: ${DATABASE_URL} 
      REDIS_URL: ${REDIS_URL} 

      RESEND_API_KEY: ${RESEND_API_KEY} 
      SALT_ROUNDS: ${SALT_ROUNDS} 
      JWT_SECRET: ${JWT_SECRET} 
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID} 
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY} 

=======
     ## put envs 
>>>>>>> 360f56a (removed environments)
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "3001:3001"

  worker:
    build:
      context: ../ 
      dockerfile: docker/worker/Dockerfile
    container_name: worker 

    environment:
      REDIS_URL: redis://redis:6379
      
    depends_on:
      redis:
        condition: service_healthy

  web:
    build:
      context: ../ 
      dockerfile: docker/web/Dockerfile
    container_name: web 

    ports:
      - "3000:3000"
