name: Build on merge or pull request  

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup docker
        uses: docker/setup-buildx-action@v3

      - name: Build docker image for web
        run: docker build -f ./docker/web/Dockerfile -t web:${{ github.sha }} .

      - name: Build docker image for backend 
        run: docker build -f ./docker/backend/Dockerfile -t backend:${{ github.sha }} .
