name: Lint check on merge or pull request 

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout the code 
        uses: actions/checkout@v3 

## linting should be done for the whole repo , how is it different

